{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/oublipassword.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')}}</div>
    {% endif %} #}

{# <div class="container">
    <div class="row col-md-5">
        <div class="cadre">
            <h2>Mot de passe oublié ?</h2>
            {{ form(mailForm) }}
        </div>
    </div>
</div> #}
<div class="container">
    <div class="centre">
        <div class="row col-md-5" id="container-registration">
            <div class="form_wrapper">
                <div class="form_container">

                    <div class="title_container">
                        <h2>Mot de passe oublié ?</h2>
                    </div>
                    {{ form_start(mailForm)}}
                    <div class="col-md-12">
                        {{ form_row(mailForm.mail, {'attr': {'placeholder': 'Entrez votre e-mail'}})}}
                    </div>
                    {{ form_end(mailForm)}}
    {# <div class="triangle"></div> #}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}